/* Define default (light) theme variables */
:root {
  --bg-color: #fff;
  --text-color: #000;
  --card-bg: #f9f9f9;
  color-scheme: light;
}

html,
body {
  color: var(--text-color);
  background: var(--bg-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Override variables when the user prefers dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg-color: #000;
    --text-color: #fff;
    --card-bg: #111;
  }
}

span.Typewriter__cursor {
  display: none;
}
